.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid rgba(143, 135, 135, 0.37);
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 71px;
    background-color: white;
    z-index: 1000;
}

.navbar .left {
    display: flex;
    width: 180px;
    justify-content: space-between;
}

.navbar .left .menu {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.navbar .left .location,
.navbar .left .search {
    cursor: pointer;
}

.navbar .left .menu:hover,
.navbar .left .location:hover,
.navbar .left .search:hover {
    color: rgb(0, 32, 53);
}

.navbar .right img {
    height: 65px;
}